body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-image: url(https://assets.architecturaldigest.in/photos/60082342345ead69c9c1aeb6/16:9/w_2560%2Cc_limit/FIFA-2018-World-Cup-Featured-1366x768.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  width: 100%;
  height: 100vh;
}

header {
  background: linear-gradient(
    to right,
    #1403a7,
    #40df21
  ); /*I want my colors to change from left to right*/
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  color: rgb(226, 230, 7);
  margin-left: 20px;
}

header h4 {
  font-size: 1rem;
}

nav {
  display: flex;
  gap: 10px;
}

#search,
#filter,
#explore {
  background-color: rgb(189, 233, 236);
  color: rgb(13, 14, 13);
  border: none;
  padding: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 10px;
}
#search:hover,
#explore:hover {
  background-color: rgba(61, 58, 58, 0.604);
}

#explore {
  margin-right: 10px;
}

#filter:hover {
  background-color: rgba(77, 11, 19, 0.605);
}

main {
  display: flex;
  padding: 20px;
}

#list {
  width: 40%;
  border-right: 2px solid grey;
  cursor: pointer;
  background: rgba(115, 218, 115, 0.85); /*0.9 to reduce opacity in order for the background image to be visible*/
}

#details {
  background: rgba(20, 20, 20, 0.8);
  width: 60%;
  padding-left: 20px;
  color: rgb(177, 174, 25);
  align-items: center;
}

#badge {
  width: 200px;
  height: 200px;
  margin: 10px;
  text-align: center;
  display: inline-block;
}

#name {
  font-weight: bolder;
  text-align: center;
  margin-bottom: 10px;
  color: rgb(9, 223, 55);
  font-size: xx-large;
}

.club-item:hover {
  background-color: rgb(163, 229, 150);
}

.club-item[data-league="Premier League"] {
  color: rgb(61, 25, 91);
}

.club-item[data-league="La Liga"] {
  color: rgb(238, 135, 7);
}

.club-item[data-league="Bundesliga"] {
  color: rgb(210, 5, 21);
}

.club-item[data-league="Serie A"] {
  color: rgb(0, 143, 215);
}

.club-item[data-league="Ligue 1"] {
  color: rgb(18, 35, 63);
}
