body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: rgb(9, 168, 231);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
}

header {
  background: linear-gradient(to right, #07c1ce, #d13a0d);
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
a:link,
a:visited {
  background-color: #f44336;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover,
a:active {
  background-color: red;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  color: rgb(4, 53, 7);
  margin-left: 20pxt;
  text-align: center;
}

header h4 {
  font-size: 1rem;
}

nav {
  display: flex;
  gap: 10px;
}

#search {
  background-color: rgb(67, 235, 235);
  color: rgb(23, 197, 23);
  border: none;
  padding: 20px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 10px;
}
#search:hover {
  background-color: rgba(211, 201, 201, 0.604);
}

#explore {
  margin-right: 10px;
}

main {
  display: flex;
  padding: 20px;
}

#list {
  width: 50%;
  border-right: 4px solid rgb(209, 196, 13);
  cursor: pointer;
  background: rgba(
    49,
    55,
    85,
    0.85
  ); /*0.9 to reduce opacity in order for the background image to be visible*/
}

#details {
  background: rgba(50, 16, 143, 0.8);
  width: 55%;
  padding-left: 20px;
  color: rgb(10, 10, 10);
  align-items: center;
}

#badge {
  width: 220px;
  height: 220px;
  margin: 20px;
  text-align: center;
  display: inline-block;
}

#name {
  font-weight: bolder;
  text-align: center;
  margin-bottom: 20px;
  color: rgb(85, 223, 72);
  font-size: xx-large;
}

.club-item:hover {
  background-color: rgb(209, 214, 176);
}
